//-------------------------------------------------------------------------------------
//- About page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "About";

block content
	p this is the about content test2
