//-------------------------------------------------------------------------------------
//- Home page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";


block content
	main

